@font-face {
    font-family: HelveticaNeue;
    src: url('../assets/fonts/HelveticaNeue/HelveticaNeue-Condensed.ttf');
}
@font-face {
    font-family: BerkeleyStd;
    src: url('../assets/fonts/BerkeleyStd-Book.otf');
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --background_color: #022737;
    --white-two: whitesmoke;
    --char-color: #505050;
    --button: #006778;
    --line: #006778;
    --background-body: #eaeaea;
    --mos-green: #69923a;
    --border-taskbar-body: #d9d9d9;
    --background-taskbar-body: #f1f1f1;
}
*{
    box-sizing: border-box;
}
  
body{
    border: solid 1px var(--background_color);
    margin: 0px;
}
.account_overview{
    margin-left: 140px;
}
.home{
    font-size: 14px;
    font-family: HelveticaNeue;
    margin-top: 37px;
  }
.account{
    font-size: 42px;
    font-family: HelveticaNeue;
    color: #022737;
    margin-top: 50px;
}
.text_fund{
    font-size: 16px;
    font-family: HelveticaNeue;
    color: #022737;
    margin-top: 15px;
}
.site_body {
    padding: 50px 0px;
    background-color: var(--background-body);
}
.bodywrapper{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    margin-left: 10%;
}
.balance{
  width: 100%;
  height: 172px;
  margin: 0px 20px 20px 0px;
  padding: 0 113px 20px 0px;
  box-shadow: 0 9px 21px 0 rgba(128, 152, 213, 0.08);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.balance_text {
    width: max-content;
    height: 30px;
    margin: 20px 0px 5px 30px;
    font-family: BerkeleyStd;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.5px;
    color: #022737;
}
.amount {
    width: 176px;
    height: 50px;
    margin: 0px 0px 67px 30px;
    font-family: HelveticaNeue;
    font-size: 42px;
    font-weight: 300;
    color: var(--mos-green);
}
.summary {
    /* margin: 20px 10px 0 5px; */
    margin-top: 20px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #006778;
    cursor: pointer;
    justify-content: left;
    display: flex;
    align-content: center;
    align-items: center;
}
li{
    list-style-type: none;
}
.transactions {
    width: 50%;
    height: 364px;
    /* margin: 0 0 30px 20px;
    padding: 0 0 17px; */
    box-shadow: 0 9px 21px 0 rgba(128, 152, 213, 0.08);
    border: solid 1px var(--background-body);
    background-color: var(--white);
    margin-left: 10%;
}
.text_wrapper{
    display: flex;
    flex-direction: column;
}
.giftid {
    width: 150px;
    height: 26px;
    margin: 20px 0px 0px 30px;
    font-family: BerkeleyStd;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.5px;
    color: var(--line);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.content {
    width: 491px;
    height: 24px;
    margin: 15px 0px 0px 30px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--char-color);
}
.options {
    height: 24px;
    margin: 20px 0px 0 30px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--char-color);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
}
.option_value {
    height: 24px;
    margin: 0 0px 20px 30px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--background_color);
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.option_ele{
    width: 200px;
    padding-right: 10%;
}
hr{
    margin: 10px 30px 20px 30px;
    opacity: 0.9;
    border: solid 2px #d4d4d4;
}
.View-Contribution {
    width: 205px;
    height: 19px;
    margin: 0 0px 0 30px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: var(--button);
}
.button_wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#dropdown_body{
    width: 20%;
    height: 50px;
    margin: 50px 10px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #006778;
    display: flex;
    align-items: center;
    padding-left: 35px;
}
  
.bottom_buttons{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

  
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--button);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-family: HelveticaNeue;
    width: 40%;
    height: 50px;
    margin: 50px 10px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
}
  
.button span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}
  
.button_prop{
    width:18.5%;
    height: 50px;
}
  
 
  
.learnmore{
    width: 80%;
    height: 172px;
    background-color:white;
    margin-left: 10%;
    /* margin-top: 30px;
    margin-right: 141px; */
    display:flex;
}
section{
    display: flex;
}
.learn{
    font-size: 24px;
    color: #022737;
    font-family: BerkeleyStd;
    letter-spacing: 0.5px;
}
.lorem{
    font-size: 16px;
    color:  #505050;
    font-family: HelveticaNeue;
    margin-left: 100px;
    margin-top: 50px;
}
.leaf{
    width: 163px;
    height: 172px;
    margin-left: 120px;
}
.lbutton{
    width: 27px;
    height: 27px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 50%;
}
.rbutton{
    width: 27px;
    height: 27px;
    margin-top: 60px;
    margin-left: 5px;
    border: none;
    border-radius: 50%;
}
li a{
    list-style-type: none;
    color: var(--background-body);
    text-decoration: none;
    text-transform: capitalize;
}
.nav p a{
    text-decoration: none;
    color: black;
}   
.nav p a:hover:not(.active){
    color: #006778;
} 
.active{
    color: #006778;
}
.nav{
    display: flex;
    flex-direction: row;
}
.grants{
    width:120px;
    height:56px;
    background-color:#eaeaea ;
    margin:0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items:center;
    border: 1px solid   rgba(0, 103, 120, 0.1);
}
#contributions{
    width:160px;
    height:56px;
    background-color:white ;
    margin:0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items:center;
    color: #006778;
    border-top: 4px solid #006778;
}
.exchange{
    width:145px;
    height:56px;
    background-color:#eaeaea ;
    margin:0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items:center;
    border: 1px solid rgba(0, 103, 120, 0.1);
}
.ot{
    width:220px;
    height:56px;
    background-color:#eaeaea ;
    margin:0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items:center;
    border: 1px solid rgba(0, 103, 120, 0.1);
}
  