.box
{
    width: 1440px;
    height: 746px;
    background-color: #eaeaea;
}
.current{
    width: 373px;
    height: 172px;
    background-color:#ffffff;
    box-shadow: 0 9px 21px 0 rgba(128, 152, 213, 0.08);
    margin-left:140px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    float: left;
}
.shape {
    width: 15px;
    height: 15px;
    background-color: #006778;
    border-radius: 10px;
}
.grants{
  width: 766px;
  height: 364px;
  box-shadow: 0 9px 21px 0 rgba(128, 152, 213, 0.08);
  border: solid 1px #ffffff;
  background-color: #ffffff;
  float: right;
  margin-left: 20px;
}


  