@font-face {
  font-family: HelveticaNeue;
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeue-Condensed.ttf');
}
@font-face {
  font-family: BerkeleyStd;
  src: url('../assets/fonts/BerkeleyStd-Book.otf');
}
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --background_color: #022737;
    --white-two: whitesmoke;
    --char-color: #505050;
    --button: #006778;
    --line: #006778;
    --background-body: #eaeaea;
    --mos-green: #69923a;
    --border-taskbar-body: #d9d9d9;
    --background-taskbar-body: #f1f1f1;
}
.login-wrapper {
  height: auto;
  padding: 10px;
  background-color: var(--background_color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.need-assistance {
  font-family: HelveticaNeue;
  font-size: 12px;
  letter-spacing: 0.5px;
  color:var(--white);
  margin-left: 50%;
}
.users {
  width: auto;
  height: auto;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: bold;
  color: var(--background_color);
}
.profile {
  color: var(--white);
  margin-right: 10%;
  border-radius: 10px;
}
.mail {
  color: var(--white);
}
#dropdown {
  height: 20px;
  border-radius: 10.5px;
  background-color: var(--white);  
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: bold;
  color: var(--background_color);
}
 span a{
    text-decoration: none;
    color: white;
} 
.navbar{
  height:auto;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 10px 60px 10px 120px;
}
.headlogo {
  width: 143px;
  height: 60px;
  object-fit: contain;
  display:inline-block;
}
li a{
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}
nav{
    display: flex;
    background-color: #eaeaea;
}
.header-links li a{
    font-size: 14px;
    display: block;
    color: black;
    font-weight: bold;
    color: var(--background_color);
}
.header-links li a:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.menu{
  display: none;
}
.onlineexp{
  background-color: var(--background-body);
  height: 44px;
  display: flex;
  flex-direction: row;
  font-family: HelveticaNeue;
  font-size: 14px;
  align-items: center;
  align-content: center;
  justify-content: left;
  border-bottom: solid 2px var(--line);
}
.experience{
  margin-left: 10%;
}

@media only screen and (max-width:767px){
  .need-assistance{
    margin: 0px;
    padding: 5px;
  }
  #dropdown{
    margin: 5px;
  }
  .mail{
    margin: 5px;
  }
  .profile{
    margin: 5px;
  }
  .header-links{
    padding-top: 10px;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar{
    padding: 10px 0;
    flex-direction: column;
    
  }
  .menu{
    display: block;
    position: absolute;
    right: 15px;
    top: 80px;
    font-size: 30px;
  }
  nav ul li{
    display: block;
    padding: 10px;
  }
  .check{
    display: block;
  }  
  .onlineexp{
    font-size: 12px;
    height: auto;
  }
}

@media only screen and (max-width:1023px) and (min-width:768px){
  .need-assistance{
    margin-left: 40%;
  }
  .header-links{
    padding-top: 10px;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar{
    padding: 10px 0;
    flex-direction: column;
    
  }
  .menu{
    display: block;
    position: absolute;
    right: 15px;
    top: 80px;
    font-size: 30px;
  }
  nav ul li{
    display: block;
    padding: 10px;
  }
  .check{
    display: block;
  }  
}